<a href="https://colab.research.google.com/github/sharadnatarajSJSU/Basic_tensorflow_operations/blob/main/CMPE_257_assignment_4_deep_nerual_network_keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import keras
import tensorflow as tf

In [ ]:
merged_data = pd.read_csv('/content/drive/MyDrive/SJSU assignment Docs/Spring 22/CMPE 257/Project Data/df_scaled')

We are using the data from assignment #3 where we have the features that affects the valuation of a house. We have an value index from one of the online real estate agency as our target variable. We will be using neural network to predict the index and evaluate the model

In [ ]:
merged_data.head()

,DATE,ASPUS,PersonNumber,GDP,Mortgage,House,PRAWMINDEXM,Unemployment,Permit
0,1963-01-01,19300.0,1.352373e+08,243.164,7.33,117.0,72.855085,3.400000,1092.000000
1,1963-04-01,19400.0,1.530389e+08,245.968,7.31,165.0,83.628605,4.820513,1365.820513
2,1963-07-01,19200.0,1.530389e+08,249.585,7.31,122.0,83.628605,4.820513,1365.820513
3,1963-10-01,19600.0,1.357780e+08,259.745,7.31,97.0,76.022077,3.900000,1016.000000
4,1964-01-01,19600.0,1.530389e+08,265.742,7.29,91.0,83.628605,4.820513,1365.820513

We wil have to scale the data as they are in differet scales. We will also befropping the DATE columsn

In [ ]:
merged_data = merged_data.drop(columns=['DATE'])

In [ ]:
merged_data.columns

Index(['ASPUS', 'PersonNumber', 'GDP', 'Mortgage', 'House', 'PRAWMINDEXM',
       'Unemployment ', 'Permit'],
      dtype='object')

In [ ]:
X = merged_data

In [ ]:
from sklearn.preprocessing import MinMaxScaler,normalize

In [ ]:
X = normalize(X)

In [ ]:
scaler = MinMaxScaler(feature_range=(0,1))

In [ ]:
scaler.fit(X)

MinMaxScaler()

In [ ]:
scaled_data = scaler.transform(X)

In [ ]:
scaled_data

array([[0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        2.78836828e-01, 1.70413887e-01, 3.20365536e-01],
       [1.19538040e-02, 9.94287505e-01, 1.97328945e-04, ...,
        4.81636863e-01, 3.56994387e-01, 4.24981971e-01],
       [2.57726836e-02, 9.87499220e-01, 2.11710030e-03, ...,
        4.81636830e-01, 3.56994363e-01, 4.24981954e-01],
       ...,
       [9.15269169e-01, 1.25594679e-01, 9.82568507e-01, ...,
        4.81632552e-01, 3.56991217e-01, 4.24979700e-01],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, ...,
        4.81631929e-01, 3.56990758e-01, 4.24979371e-01],
       [8.52243037e-01, 2.14197716e-01, 9.16468941e-01, ...,
        4.33145572e-01, 1.80145171e-02, 4.77838575e-01]])

We will now also read the target variables

In [ ]:
target_y = pd.read_csv('/content/drive/MyDrive/SJSU assignment Docs/Spring 22/CMPE 257/Project Data/Factors affecting US house prices/Housing_price_index(given).csv')

In [ ]:
target_y.shape

(408, 2)

In [ ]:
target_y.head(10)

         DATE  CSUSHPISA
0  1987-01-01     63.965
1  1987-02-01     64.425
2  1987-03-01     64.736
3  1987-04-01     65.135
4  1987-05-01     65.569
5  1987-06-01     66.076
6  1987-07-01     66.509
7  1987-08-01     66.938
8  1987-09-01     67.331
9  1987-10-01     67.740

In [ ]:
X.shape

(232, 8)

In [ ]:
def monthly_to_quarterly(df):
  temp_data = df[ : :3]
  temp_data.reset_index()
  return temp_data

In [ ]:
target_y = monthly_to_quarterly(target_y)

In [ ]:
target_y.shape

(136, 2)

In [ ]:
X = X.iloc[-136: , :]

In [ ]:
target_y=target_y.iloc[: , 1]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, target_y, test_size=0.20, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(108, 8)
(28, 8)
(108,)
(28,)

We have the training and testing data split randomly. Test Size is 20%. We also have more data to validate

Building the model using keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,InputLayer

In [ ]:

from keras.activations import relu,sigmoid,linear
model = Sequential()

model.add(Dense(32, activation = relu , input_dim=8))
model.add(Dense(12, activation = relu))
model.add(Dense(12, activation = linear))
model.add(Dense(1))

In [ ]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 32)                288

 dense_17 (Dense)            (None, 12)                396

 dense_18 (Dense)            (None, 12)                156

 dense_19 (Dense)            (None, 1)                 13

=================================================================
Total params: 853
Trainable params: 853
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.layers

[<keras.layers.core.dense.Dense at 0x7ff188f5b310>,
 <keras.layers.core.dense.Dense at 0x7ff188fe33d0>,
 <keras.layers.core.dense.Dense at 0x7ff188f82dd0>,
 <keras.layers.core.dense.Dense at 0x7ff184e03390>]

In [ ]:
from tensorflow import keras

In [ ]:

model.compile(loss='mean_squared_error', optimizer= tf.keras.optimizers.Adam(learning_rate=0.001) , metrics=['mae'])

In [ ]:
history = model.fit(X_train, y_train, epochs=40)

Epoch 1/40
4/4 [==============================] - 1s 3ms/step - loss: 19757.1348 - mae: 132.7734
Epoch 2/40
4/4 [==============================] - 0s 3ms/step - loss: 19732.7637 - mae: 132.6805
Epoch 3/40
4/4 [==============================] - 0s 3ms/step - loss: 19708.5117 - mae: 132.5897
Epoch 4/40
4/4 [==============================] - 0s 3ms/step - loss: 19685.4160 - mae: 132.5032
Epoch 5/40
4/4 [==============================] - 0s 4ms/step - loss: 19663.4668 - mae: 132.4200
Epoch 6/40
4/4 [==============================] - 0s 2ms/step - loss: 19640.8418 - mae: 132.3357
Epoch 7/40
4/4 [==============================] - 0s 3ms/step - loss: 19618.2500 - mae: 132.2496
Epoch 8/40
4/4 [==============================] - 0s 3ms/step - loss: 19594.9355 - mae: 132.1594
Epoch 9/40
4/4 [==============================] - 0s 3ms/step - loss: 19571.2383 - mae: 132.0721
Epoch 10/40
4/4 [==============================] - 0s 4ms/step - loss: 19548.8789 - mae: 131.9873
Epoch 11/40
4/4 [==============================] - 0s 2ms/step - loss: 19525.3594 - mae: 131.8972
Epoch 12/40
4/4 [==============================] - 0s 2ms/step - loss: 19499.3262 - mae: 131.7989
Epoch 13/40
4/4 [==============================] - 0s 3ms/step - loss: 19471.3164 - mae: 131.6916
Epoch 14/40
4/4 [==============================] - 0s 3ms/step - loss: 19441.0371 - mae: 131.5762
Epoch 15/40
4/4 [==============================] - 0s 3ms/step - loss: 19408.7500 - mae: 131.4546
Epoch 16/40
4/4 [==============================] - 0s 2ms/step - loss: 19373.8965 - mae: 131.3237
Epoch 17/40
4/4 [==============================] - 0s 3ms/step - loss: 19337.2734 - mae: 131.1808
Epoch 18/40
4/4 [==============================] - 0s 3ms/step - loss: 19296.2148 - mae: 131.0264
Epoch 19/40
4/4 [==============================] - 0s 4ms/step - loss: 19252.6152 - mae: 130.8600
Epoch 20/40
4/4 [==============================] - 0s 3ms/step - loss: 19205.6777 - mae: 130.6798
Epoch 21/40
4/4 [==============================] - 0s 2ms/step - loss: 19154.5273 - mae: 130.4856
Epoch 22/40
4/4 [==============================] - 0s 4ms/step - loss: 19099.4668 - mae: 130.2759
Epoch 23/40
4/4 [==============================] - 0s 3ms/step - loss: 19039.9922 - mae: 130.0495
Epoch 24/40
4/4 [==============================] - 0s 3ms/step - loss: 18976.7422 - mae: 129.8046
Epoch 25/40
4/4 [==============================] - 0s 2ms/step - loss: 18908.9414 - mae: 129.5396
Epoch 26/40
4/4 [==============================] - 0s 3ms/step - loss: 18835.1211 - mae: 129.2549
Epoch 27/40
4/4 [==============================] - 0s 3ms/step - loss: 18756.4258 - mae: 128.9503
Epoch 28/40
4/4 [==============================] - 0s 4ms/step - loss: 18672.6094 - mae: 128.6244
Epoch 29/40
4/4 [==============================] - 0s 3ms/step - loss: 18583.2129 - mae: 128.2737
Epoch 30/40
4/4 [==============================] - 0s 3ms/step - loss: 18484.3672 - mae: 127.8903
Epoch 31/40
4/4 [==============================] - 0s 3ms/step - loss: 18374.0762 - mae: 127.4672
Epoch 32/40
4/4 [==============================] - 0s 4ms/step - loss: 18258.1035 - mae: 127.0027
Epoch 33/40
4/4 [==============================] - 0s 3ms/step - loss: 18131.0137 - mae: 126.4948
Epoch 34/40
4/4 [==============================] - 0s 3ms/step - loss: 17990.8262 - mae: 125.9466
Epoch 35/40
4/4 [==============================] - 0s 3ms/step - loss: 17841.7598 - mae: 125.3536
Epoch 36/40
4/4 [==============================] - 0s 3ms/step - loss: 17680.7539 - mae: 124.7095
Epoch 37/40
4/4 [==============================] - 0s 4ms/step - loss: 17507.6523 - mae: 124.0096
Epoch 38/40
4/4 [==============================] - 0s 3ms/step - loss: 17318.3711 - mae: 123.2557
Epoch 39/40
4/4 [==============================] - 0s 3ms/step - loss: 17119.5469 - mae: 122.4476
Epoch 40/40
4/4 [==============================] - 0s 3ms/step - loss: 16908.4922 - mae: 121.5722

In [ ]:
history

In [ ]:
train_mse = model.evaluate(X_train, y_train)
test_mse = model.evaluate(X_test, y_test)

4/4 [==============================] - 0s 2ms/step - loss: 16750.5664 - mae: 120.9232
1/1 [==============================] - 0s 17ms/step - loss: 13810.1475 - mae: 107.6563

In [ ]:
train_mse

[16750.56640625, 120.9231948852539]

In [ ]:
y_pred = model.predict(X_test)